{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Example</title>
<link href="{% static 'css/hover.css' %}" rel="stylesheet" media="all">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<!-- CSS -->	
<style>
html {
  min-height: 100%;
    }
body {
  height: 100vh;
  width: 100%;
  position:relative;
    }

.menu {
position: absolute;
font-family: sans-serif;
background: blue;
padding: 5px;
width: 130px;
z-index: 100;
top:calc((100vh - 2.7em - 10px)/2);
right:calc((100% - 140px)/2);
box-shadow: 5px 5px 5px;
border-radius:5px 5px 5px 5px;



}

.menu a, 
.menu h3 {
font-size: 0.9em;
display: block;
margin: 0 0.5em;
color: white;
}

input {
    width: 120px;
}

label {
	margin-top: 10px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<!-- HTML -->
<main>

<nav class="menu">
<h3>Login</h3>

<form method='post'>
    <label for='username_info'> Username </label>
    {% csrf_token %}
    {{ form.username }}
    <p>
    <label for="password_info"> Password </label>
    {{ form.password }}
    <p>
	<input id='username_info' type='submit'>
</form>

<a href="#" class="hvr-grow">Create Account</a>
</nav>

</main>