{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DUFC Sign-In</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static 'js/custom_javascript.min.js' %}"</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-override.css' %}">
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Charles Smith</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'profile' %}"> My Profile</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href='#'>My Clients</a></li>
          <li><a href="#">Assign Client</a></li>
          <li><a href="#">My Account</a></li>
          <!--<li><a href="#">Separated link</a></li> -->
          <!--<li><a href="#">One more separated link</a></li>-->
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Clients">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign Out</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMIN <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Weekly Scheduler</a></li>
          <li><a href="#">Client Workouts</a></li>
          <li><a href="#">My Availibility</a></li>
          <!-- <li><a href="#">Separated link</a></li> -->
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><div class="container"></div>
<!-- Profile pic -->
<img class="profile_pic" id='myImg' alt='Profile Picture' src="https://i0.wp.com/ismoph17.com/wp-content/uploads/2016/08/blank-profile-picture-973460.png" height='160' width='150'>

<!-- Modal effect -->
<div id='myModal' class="modal">

    <span class='close' onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    
    <img class="modal-content" height='600' id='img01'>

    <div id='caption'>hello</div>
</div>
</html>

<div>
    <ul class='profile_options'>
      <li><a href='#'>Sales</a></li>
    </ul>
